# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Gradle Build

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "temurin"

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Clone Keystore Module
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
        run: |
          git clone "https://${GITHUB_TOKEN}@github.com/iamr0s/XposedMiShareBuildData.git" ./buildData

      - name: Previous Build
        run: |
          chmod +x ./gradlew

      - name: Build Debug Apk(s)
        id: build_debug
        run: |
          ./gradlew assembleDebug --stacktrace
          echo "{package_path}={$(readlink -f app/build/outputs/apk/debug/app-debug.apk)}" >> $GITHUB_OUTPUT

      - name: Build Release Apk(s)
        id: build_release
        run: |
          ./gradlew assembleRelease --stacktrace
          echo "{package_path}={$(readlink -f app/build/outputs/apk/release/app-release.apk)}" >> $GITHUB_OUTPUT

      - name: Make Magisk Module
        id: make_module
        env:
          XPOSEDMODULE_PATH: ${{ steps.build_release.outputs.package_path }}
        run: |
          rootDir=`readlink -f ./`
          workbenchDir=$rootDir/workbench
          rm -rf $workbenchDir/cache
          mkdir $workbenchDir/cache

          # 反编译
          java -jar $workbenchDir/apktool.jar d -s -f $workbenchDir/MiShare.apk -o $workbenchDir/cache/MiShare

          # 适配 https://github.com/reiryuki/Miui-Core-Magisk-Module
          echo 'running set-manifest.xml'
          python $workbenchDir/set-manifest.py $workbenchDir/cache/MiShare/AndroidManifest.xml $workbenchDir/cache/MiShare/AndroidManifest.xml
          cat $workbenchDir/cache/MiShare/AndroidManifest.xml

          # cp -r $workbenchDir/MiShare/* $workbenchDir/cache/MiShare
          java -jar $workbenchDir/apktool.jar b -f $workbenchDir/cache/MiShare -o $workbenchDir/cache/MiShare_apktool.apk

          # https://github.com/LSPosed/LSPatch
          # 通过 Lspatch 导入 Xposed 模块
          java -jar $workbenchDir/lspatch.jar -v $workbenchDir/cache/MiShare_apktool.apk -m $XPOSEDMODULE_PATH -o $workbenchDir/cache/lspatch
          lspatchApk=`readlink -f $workbenchDir/cache/lspatch/*.apk`

          cp $lspatchApk $workbenchDir/cache/MiShare_lspatch.apk

          # 必须对齐两次，详情参考
          # https://stackoverflow.com/questions/38047358/zipalign-verification-failed-resources-arsc-bad-1
          sudo apt install zipalign
          (zipalign -p -f -v 4 $workbenchDir/cache/MiShare_lspatch.apk $workbenchDir/cache/MiShare_lspatch_1.apk || true) | echo 'first zipalign'
          (zipalign -p -f -v 4 $workbenchDir/cache/MiShare_lspatch_1.apk $workbenchDir/cache/MiShare_lspatch_2.apk || true) | echo 'second zipalign'
          zipalign -p -f -v 4 $workbenchDir/cache/MiShare_lspatch_2.apk $workbenchDir/cache/MiShare_lspatch_3.apk

          # 签名
          java -jar $workbenchDir/apksigner.jar sign --ks $workbenchDir/debug.keystore --ks-key-alias AndroidDebugKey --ks-pass pass:android --v1-signing-enabled true --v2-signing-enabled true --v3-signing-enabled true --v4-signing-enabled true --min-sdk-version 26 --out $workbenchDir/cache/MiShare_sign.apk $workbenchDir/cache/MiShare_lspatch_3.apk

          # 更新 Magisk 模块
          git clone https://github.com/iamr0s/MiShare-Magisk-Module.git $workbenchDir/cache/MiShare-Magisk-Module

          rm -rf $workbenchDir/cache/MiShare-Magisk-Module/module/system/priv-app/MiShare/MiShare.apk

          cp $workbenchDir/cache/MiShare_sign.apk $workbenchDir/cache/MiShare-Magisk-Module/module/system/priv-app/MiShare/MiShare.apk

          cd $workbenchDir/cache/MiShare-Magisk-Module

          git config --global user.email actions@github.com
          git config --global user.name actions@github
          git add .
          git commit -m "make a new MiShare.apk by actions@github"

          echo "{module_path}={$(echo $workbenchDir/cache/MiShare-Magisk-Module)}" >> $GITHUB_OUTPUT

      # - name: Setup Debug Session
      #   uses: csexton/debugger-action@master

      - name: Get Build Info
        id: workflows_info
        env:
          EVENT_TYPE: ${{ github.event_name }}
        run: |
          echo "{sha}={$(git rev-parse HEAD)}" >> $GITHUB_OUTPUT
          echo "{short_sha}={$(git rev-parse --short HEAD)}" >> $GITHUB_OUTPUT
          echo "{version_code}={$(grep "versionCode" buildData/version.properties|cut -d'=' -f2)}" >> $GITHUB_OUTPUT
          echo "{version_name}={$(grep "versionName" buildData/version.properties|cut -d'=' -f2)}" >> $GITHUB_OUTPUT

      - name: Push Changes To MiShare-Magisk-Module
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GIT_TOKEN }}
          directory: ${{ steps.make_module.outputs.module_path }}
          repository: iamr0s/MiShare-Magisk-Module

      - name: Create A New Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
        with:
          tag_name: ${{ steps.workflows_info.outputs.version_name }}-${{ github.run_id }}-${{ steps.workflows_info.outputs.short_sha }}
          release_name: ${{ steps.workflows_info.outputs.version_name }}-${{ github.run_id }}-${{ steps.workflows_info.outputs.short_sha }}
          body: |
            ${{ steps.workflows_info.outputs.version_name }}-${{ github.run_id }}-${{ steps.workflows_info.outputs.short_sha }}
          draft: false
          prerelease: true

      - name: Upload Debug To Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.build_debug.outputs.package_path }}
          asset_name: XposedMiShare-debug.apk
          asset_content_type: application/zip

      - name: Upload Release To Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.build_release.outputs.package_path }}
          asset_name: XposedMiShare-release.apk
          asset_content_type: application/zip

      # - name: Setup Debug Session
      #   uses: csexton/debugger-action@master
